{% extends 'base.html' %}
{% load static %}

{% block title %}
    Charts
{% endblock title %}

{% block content %}
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    
    <table class="table table-bordered table-sm caption-top">
        <caption>Wybierz dane do wykresu</caption>
        <thead>
            <tr>
                <th scope="col">Urządzenie</th>
                <th scope="col">Parametry</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            
            <form action="" method="POST">
                {% csrf_token %}

                <!--TRANSFORMERS FORM-->
                {% if type_chart == 'trafo_temp' %}
                    <tr>
                        <td>
                            <div class="form-check">{{ transformers_form.tr11 }} Transformator TR 1.1</div>
                            <div class="form-check">{{ transformers_form.tr12 }} Transformator TR 1.2</div>
                            <div class="form-check">{{ transformers_form.tr21 }} Transformator TR 2.1</div>
                            <div class="form-check">{{ transformers_form.tr31 }} Transformator TR 3.1</div>
                        </td>
                        <td>
                            <div><strong>Temperatura Pracy</strong></div>
                            <div class="form-check">{{ transformers_form.temp_A1 }} Czujnik A1</div>
                            <div class="form-check">{{ transformers_form.temp_A2 }} Czujnik A2</div>
                            <div class="form-check">{{ transformers_form.temp_A3 }} Czujnik A3</div>
                        </td>

                        <td>
                            <button type="submit" name="button-submit-transformers" class="btn btn-outline-success btn-sm">Pokaż wykres</button>
                        </td>
                    </tr>

                <!--UPSy FORM-->
                {% elif type_chart == 'ups_temp' %}
                    <tr>
                        <td>
                            <div><strong>UPSy 3faz.</strong></div>
                            <div class="form-check">{{ upsy_form.ups_1_34 }} UPS 1.34</div>
                            <div class="form-check">{{ upsy_form.ups_tt }} UPS TT</div>
                            <div class="form-check">{{ upsy_form.ups_GPD }} UPS GPD</div>
                            <div class="form-check">{{ upsy_form.ups_BL04BM }} UPS BL04BM</div>
                            <div class="form-check">{{ upsy_form.ups_BL06ID }} UPS BL06ID</div>
                            <div class="form-check">{{ upsy_form.ups_BL04ID }} UPS BL04ID</div>
                            <div class="form-check">{{ upsy_form.ups_BL10BM }} UPS BL10BM</div>
                            <div class="form-check">{{ upsy_form.ups_BL09BM }} UPS BL09BM</div>
                            <div><strong>UPSy 1faz.</strong></div>
                            <div class="form-check">{{ upsy_form.ups_BL05ID }} UPS BL05ID Omega</div>
                            <div class="form-check">{{ upsy_form.ups_PPOZ }} UPS PPOZ Omega</div>
                        </td>
                        <td>
                            <div><strong>Temperatura Pracy</strong></div>
                            <div class="form-check">{{ upsy_form.working_temp }} Temperatura Pracy</div>
                            <div><strong>Obciążenie UPSy 3faz.</strong></div>
                            <div class="form-check">{{ upsy_form.l1 }} Obciążenie, faza L1</div>
                            <div class="form-check">{{ upsy_form.l2 }} Obciążenie, faza L2</div>
                            <div class="form-check">{{ upsy_form.l3 }} Obciążenie, faza L3</div>
                            <div><strong>Obciążenie UPSy 1faz. Omega</strong></div>
                            <div class="form-check">{{ upsy_form.load }} Obciążenie</div>
                        </td>                    
                        <td>
                            <button type="submit" name="button-submit-upsy" class="btn btn-outline-success btn-sm">Pokaż wykres</button>
                        </td>
                    </tr>

                <!--CAPACITORS BATTERY FORM-->
                {% elif type_chart == 'bat_temp' %}
                    <tr>
                        <td>
                            <div class="form-check">{{ cap_bat_form.bat11 }} Bateria Kondensatorów dla RG1.1</div>
                            <div class="form-check">{{ cap_bat_form.bat12 }} Bateria Kondensatorów dla RG1.2</div>
                            <div class="form-check">{{ cap_bat_form.bat21 }} Bateria Kondensatorów dla RG2.1</div>
                            <div class="form-check">{{ cap_bat_form.bat31 }} Bateria Kondensatorów dla RG3.1</div>
                        </td>
                        <td>
                            <div><strong>Temperatura Pracy</strong></div>
                            <div class="form-check">{{ cap_bat_form.temp }} Temperatura Pracy</div>
                            <div><strong>Weekly TPF</strong></div>
                            <div class="form-check">{{ cap_bat_form.weekly_TPF }} Weekly TPF</div>
                        </td>                    
                        <td>
                            <button type="submit" name="button-submit-cap-battery" class="btn btn-outline-success btn-sm">Pokaż wykres</button>
                        </td>
                    </tr>

                <!--RGE-A,C switchboard FORM-->
                {% elif type_chart == 'rge_ac' %}
                    <tr>
                        <td>
                            <div class="form-check">{{ rge_ac_form.rozdz_rge_ac }} Rozdzielnica RGE-A,C</div>
                        </td>                            
                        <td>
                            <div class="form-check">{{ rge_ac_form.supply_tor_1 }} Zasilanie tor 1</div>
                            <div class="form-check">{{ rge_ac_form.supply_tor_2 }} Zasilanie tor 2</div>
                        </td>                    
                        <td>
                            <button type="submit" name="button-submit-rge-ac" class="btn btn-outline-success btn-sm">Pokaż wykres</button>
                        </td>
                    </tr>
                {% endif %}
                
            </form>
        </tbody>
    </table>

    <div class="container text-center chart">
        {% if chart %}
            {{ chart|safe }}
        {% endif %}
    </div>
{% endblock content %}